html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.container {
    max-width: 650px;
    width: auto;
    margin: 0 auto;
    padding: 20px 15px;
    font-family: 'Lato', sans-serif;
   
}

